openwhisk_api_host       = "localhost"
openwhisk_api_host_port   = "31001"
openwhisk_auth_system_key = "23bc46b1-71f6-4ed5-8c54-816aa4f8c502:123zO3xZCLrMN6v2BKK1dXYFpXlPkccOFqm12CdAsMgRU4VrNZ9lyGVCGuMDGIwP"
openwhisk_auth_guest_key  = "a7fa79f2-8e4c-45d2-b3f1-92cd7408e12f:6dZxC2nBqLpR8vW4kYsT1aUfM3eH5gJ7dF9cN0lA2bC4pQ6rS8t"
openwhisk_db_password     = "some_passw0rd"
